@media screen and (max-width : 922px) {}

@media screen and (max-width : 768px) {
  .menu-page img {
    width: 20%;
    height: auto;
  }

  .img-about {
    position: absolute;
    left: 50%;
    width: 30%;
    height: auto;
    margin-top: 200px;
  }

  .hero-img {
    width: 100px;
    height: 100px;
  }
}

@media screen and (max-width : 320px) {}