@media screen and (max-width : 922px) {}

@media screen and (max-width : 768px) {}

@media screen and (max-width : 320px) {

  .menu-page{
    display: flex;
    flex-direction: column;
  }
  .hero-img{
    width: 200px;
    height: 100px;
  }
}