@media screen and (max-width : 922px) {}

@media screen and (max-width : 768px) {
  .menu-page img {
    width: 18%;
    height: auto;
  }

  .img-about {
    position: absolute;
    left: 50%;
    width: 40%;
    height: auto;
    margin-top: 20px;

  }

  .text-about {
    right: 500px;
  }


}


@media screen and (min-width :320px) and (max-width :425px) {
  .menu-page img {
    width: 16%;
    vertical-align: bottom;
  }


  .img-about {
    display: none;

  }

  .garis-menu {
    margin-top: -200px;

    width: 30%;
  }

  .hero-img {
    width: 20%;
  }
}