img.tengah {
  float: left;
  margin-right: 20px;
  position: absolute;
  top: 100px;
  left: 1px;
  width: 1380px;
  height: 800px;
}

.kubah {
  position: absolute;
  top: 650px;
  width: 1381px;
}

.background-image1 {
  position: absolute;
  top: 1100px;
  width: 350px;
  height: 300px;
  left: 80px;
  border-radius: 20px;
}

.judul1 {
  position: relative;
  top: 870px;
  left: 500px;
  color: rgb(0, 0, 0);
}

.isi1 {
  position: relative;
  font-size: 20px;
  top: 850px;
  left: 500px;
  color: rgb(0, 0, 0);
}

.background-image2 {
  position: absolute;
  top: 1500px;
  width: 350px;
  height: 300px;
  left: 80px;
  border-radius: 20px;
}

.judul2 {
  position: relative;
  top: 900px;
  left: 500px;
  color: rgb(0, 0, 0);
}

.isi2 {
  position: relative;
  font-size: 20px;
  top: 890px;
  left: 500px;
  color: rgb(0, 0, 0);
}

.background-image3 {
  position: absolute;
  top: 1900px;
  width: 350px;
  height: 300px;
  left: 80px;
  border-radius: 20px;
}

.judul3 {
  position: relative;
  top: 970px;
  left: 500px;
  color: rgb(0, 0, 0);
}

.isi3 {
  position: relative;
  font-size: 20px;
  top: 960px;
  left: 500px;
  color: rgb(0, 0, 0);
}
/* .footer {
  background: #382d33;
  width: 1320px;
  height: 461px;
  position: relative;
  overflow: hidden;
  top: 1100px;
}
.logo-removebg-preview-2 {
  width: 410px;
  height: 406px;
  position: absolute;
  left: 0px;
  top: 27px;
}
.contecnt {
  display: flex;
  flex-direction: column;
  gap: 28px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 498px;
  top: 103px;
}
.content {
  color: #ffffff;
  text-align: left;
  font: 500 30px "Inter", sans-serif;
  position: relative;
}
.home {
  color: #ffffff;
  text-align: left;
  font: 400 20px "Inter", sans-serif;
  position: relative;
}
.about-me {
  color: #ffffff;
  text-align: left;
  font: 400 20px "Inter", sans-serif;
  position: relative;
}
.menu {
  color: #ffffff;
  text-align: left;
  font: 400 20px "Inter", sans-serif;
  position: relative;
}
.contact {
  color: #ffffff;
  text-align: left;
  font: 400 20px "Inter", sans-serif;
  position: relative; 
}
.logo-removebg-preview-22 {
  width: 500px;
  height: 500px;
  position: absolute;
  left: 1005px;
  top: 191px;
}
.contecnt2 {
  display: flex;
  flex-direction: column;
  gap: 28px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 792px;
  top: 103px;
}
.contacts {
  color: #ffffff;
  text-align: left;
  font: 500 30px "Inter", sans-serif;
  position: relative;
  right: 80px;
}
._022-20458359 {
  color: #ffffff;
  text-align: left;
  font: 400 20px "Inter", sans-serif;
  position: relative;
  right: 80px;
}
.gmail-com {
  color: #ffffff;
  text-align: left;
  font: 400 20px "Inter", sans-serif;
  position: relative;
  right: 80px;
}
.contecnt3 {
  display: flex;
  flex-direction: column;
  gap: 28px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 1115px;
  top: 103px;
}
.opening-hours {
  color: #ffffff;
  text-align: left;
  font: 500 30px "Inter", sans-serif;
  position: relative;
  right: 90px;
}
.everyday-10-00-05-00 {
  color: #ffffff;
  text-align: left;
  font: 400 20px "Inter", sans-serif;
  position: relative;
  right: 90px;
}
.bxl-instagram {
  position: relative;
  left: 710px;
  top: 260px;


} */
