.nav {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    position: sticky;
    top: 0%;
    left: 280px;
    position: fixed;
}

.logo {
    position: relative;
    width: 90px;
    right: 200px;

}

.nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

.nav ul li a {
    color: #ffff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}



.container > img {
    margin-top: -10px;
    margin-left: -10px;
    width: 105%;
    height: 0%;
}

.child {
    background-color: #382D33;
    width: 450px;
    height: 200px;
    position: relative;
    left: 450px;
    bottom: 120px;
    border-radius: 30px;
}

.anak {
    position: relative;
    top: 80px;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 35px;
    text-align: center;
}

.kedua > img {
    position: absolute;
    width: 400px;
    height: 550px;
    margin-left: 130px;
    margin-top: 10px;
}

.pat {
    position: relative;
    background-color: #382D33;
    width: 300px;
    height: 400px;
    top: 60px;
    left: 80px;
    
}

.budak {
    margin-top: -300px;
    margin-left: 700px;
}

.budak > div {
    font-family: 'Mulish', sans-serif;
    font-size: 30px;
    
}

.budak > p {
    font-family: 'Mulish', sans-serif;
    font-size: 19px;

}

.budak > h3{
    font-family: 'Ubuntu', sans-serif;
    
}

.service {
    font-family: 'Nutino Sans', sans-serif;
    text-align: center;
    margin-top: 350px;
    font-size: 30px;

}

.oser {
    margin-top: 60px;
    margin-left: 25%;
}

.oser > img {
    margin-top: 40px;
}

.bola {
    position: relative;
    background-color: #382D33;
    width: 350px;
    height: 00px;
    bottom: 100px;

}

.bola > div {
    margin-top: -500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.visit {
    text-align: center;
    justify-content: center;
    margin-top: 150px;
    align-items: center;
    
}

.tivit {
    font-size: 30px;
}

.visit > b{
    font-family: 'Mulish', sans-serif;
    font-size: 35px;
}

.visit > p {
    font-family: 'Mulish', sans-serif;
    font-size: 20px;
}

.visit > div {
    position: relative;
    align-items: center;
    justify-content: center;
    
    
}

.potokami {
    margin-left: -170px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
}

.paragrap {
    margin: 50px;
    background-color: #382D33;
    width: 100%;
    height: 520px;
    margin-top: 100px;
}
.paragrap > img {
    margin-top: -200px;
}
.paragrap > h1 {
    text-align: center;
color: white;
font-weight: bold;
}

.test {
    color: white;
    font-family: 'Poppins' sans-serif; 
    margin-top: 15px;
    text-align: center;
}

.test2 {
    color: white;
    text-align: center;
    font-family: 'Poppins' sans-serif;
    font-size: 28px;
}

@media screen and (max-width: 460px){
    .container {
        flex-direction: column;
    }

    .child {
        left: -200px;
        width: 150px;
        height: 80px;
        position: relative;
        left: 100px;
        bottom: 50px;
        border-radius: 15px;

    }

    .anak {
        position: relative;
        top: 0px;
        color: white;
        font-family: 'Ubuntu', sans-serif;
        font-size: 1rem;
        text-align: center;
        top: 2rem;
    }
    
    .kedua > img {
        position: absolute;
        width: 9rem;
        height: 13rem;
        margin-left: 7rem;
        margin-top: -14rem;
    }

    .pat {
        position: relative;
        background-color: #382D33;
        width: 6rem;
        height: 9rem;
        top: -1rem;
        left: 5rem;
        
        
    }

    .budak {
        margin-top: 5rem;
        margin-left: 0rem;
        text-align: center;
    }
    
    .budak > div {
        font-family: 'Mulish', sans-serif;
        font-size: 15px;
            
    }
    
    .budak > p {
        font-family: 'Mulish', sans-serif;
        font-size: 10px ;
    
    }
    
    .budak > h3{
        font-family: 'Ubuntu', sans-serif;
        
    }
    
    .service {
        font-family: 'Nutino Sans', sans-serif;
        text-align: center;
        margin-top: 5rem;
        font-size: 1rem;
    
    }
    
    .oser {
        margin-top: 60px;
        margin-left: 25%;
    }
    
    .oser > img {
        margin-top: 40px;
    
    }
    
    .bola {
        position: relative;
        background-color: #382D33;
        width: 350px;
        height: 00px;
        bottom: 100px;
    
    }
    
    .bola > div {
        margin-top: -500px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .visit {
        text-align: center;
        justify-content: center;
        margin-top: 70px;
        align-items: center;
        
    }
    
    .tivit {
        font-size: 25px;
    }
    
    .visit > b{
        font-family: 'Mulish', sans-serif;
        font-size: 25px;
    }
    
    .visit > p {
        font-family: 'Mulish', sans-serif;
        font-size: 15px;
    }
    
    .visit > div {
        position: relative;
        align-items: center;
        justify-content: center;
        
        
    }
    
    .potokami {
        margin-left: -5px;
        width: 100%;
        
        margin-top: -4rem;
    }
    
    .paragrap {
        margin: 50px;
        background-color: #382D33;
        width: 100%;
        height: 10rem;
        margin-top: 100px;
        margin-left: -2rem;
    }
    .paragrap > img {
        width: 7rem;
        height: 7rem;
        margin-top: -200px;
    }
    .paragrap > h1 {
        text-align: center;
    color: white;
    font-weight: bold;
    }

    .paragrap > p {
        font-size: 0rem;
    }

    .test {
        color: black;
        font-family: 'Poppins' sans-serif; 
        margin-top: 3rem;
    }

    .test2 {
        color: white;
        text-align: center;
        font-family: 'Poppins' sans-serif;
        font-size: 1rem;
    }

    
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .container > img {
        margin-top: -10px;
        margin-left: -10px;
        width: 105%;
        height: 0%;
    }
    
    .child {
        background-color: #382D33;
        width: 350px;
        height: 150px;
        position: relative;
        left: 200px;
        bottom: 90px;
        border-radius: 30px;
    }
    
    .anak {
        position: relative;
        top: 55px;
        color: white;
        font-family: 'Ubuntu', sans-serif;
        font-size: 35px;
        text-align: center;
    }
    
    .kedua > img {
        position: absolute;
        width: 300px;
        height: 450px;
        margin-left: 220px;
        margin-top: -480px;
    }
    
    .pat {
        position: relative;
        background-color: #382D33;
        width: 200px;
        height: 300px;
        top: -20px;
        left: 180px;
        
    }
    
    .budak {
        margin-top: 200px;
        margin-left: 0px;
        text-align: center;
    }
    
    .budak > div {
        font-family: 'Mulish', sans-serif;
        font-size: 30px;
        
    }
    
    .budak > p {
        font-family: 'Mulish', sans-serif;
        font-size: 20px;
    
    }
    
    .budak > h3{
        font-family: 'Ubuntu', sans-serif;
        
    }
    
    .service {
        font-family: 'Nutino Sans', sans-serif;
        text-align: center;
        margin-top: 150px;
        font-size: 30px;
    
    }
    
    
    .visit {
        text-align: center;
        justify-content: center;
        margin-top: 150px;
        align-items: center;
        
    }
    
    .tivit {
        font-size: 30px;
    }
    
    .visit > b{
        font-family: 'Mulish', sans-serif;
        font-size: 35px;
    }
    
    .visit > p {
        font-family: 'Mulish', sans-serif;
        font-size: 20px;
    }
    
    .visit > div {
        position: relative;
        align-items: center;
        justify-content: center;
        
        
    }
    
    .potokami {
        margin-left: -53px;
        width: 100%;
        
        margin-top: 10rem;
    }
    
    .paragrap {
        margin: 50px;
        background-color: #382D33;
        width: 100%;
        height: 15rem;
        margin-top: 100px;
        margin-left: -2rem;
    }
    .paragrap > img {
        width: 15rem;
        height: 15rem;
        margin-top: -300px;
    }
    .paragrap > h1 {
        text-align: center;
    color: white;
    font-weight: bold;
    }

    .paragrap > p {
        font-size: 0rem;
    }

    .test {
        color: black;
        font-family: 'Poppins' sans-serif; 
        margin-top: 13rem;
    }

    .test2 {
        color: white;
        text-align: center;
        font-family: 'Poppins' sans-serif;
        font-size: 1rem;
    }

    
}

     


