<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/img/logo-nav.png" type="image">
    <title>Sans Co Cafe & CoWorking Space</title>
    <!-- link boostrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- link-font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap" />
    <!-- icon bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <!-- Animate style -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <!-- AOS -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <!-- css -->
    <link rel="stylesheet" href="../static/about.css">
</head>

<body>
    <!-- navbar -->
    <nav
        class="navbar navbar-expand-lg  navbar-dark bg-transparent position-fixed w-100 animate__animated animate__fadeInDown">
        <div class="container">
            <a class="navbar-brand" href="#"><img src="../static/img/logo-nav.png" alt=""></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <i class="bi bi-list"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item mx-2">
                        <a class="nav-link " href="/">Home</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link active" aria-current="page" href="/about">About us</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link" href="/menu">Menu</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link" href="/gallery">Gallery</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link" href="/special-offers">Special offers</a>
                    </li>

                </ul>
                <!-- reservation btn -->
                <form class="d-flex">
                    <button class="nav-item dropdown px-3 py-1 " style="border: 4px solid #ffffff; ">
                        <a class="nav-link " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Reservation
                        </a>
                        <ul class="dropdown-menu mt-2">
                            <li><a class="dropdown-item" href="/meeting">Meeting Room</a></li>
                            <li><a class="dropdown-item" href="/event">Event</a></li>
                        </ul>
                        </li>
                    </button>
                </form>
            </div>
        </div>
    </nav>
    <!-- hero section -->
    <section id="hero">
        <div class="container h-100 animate__animated animate__fadeInUp">
            <div class="row h-100">
                <div class="col-md-6 my-auto d-md-flex ">
                    <div class="img-fluid position-absolute top-50 start-50 translate-middle  child">
                        <h1 class="anak">About Us</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="pat" data-aos="fade-up" data-aos-duration="1000"></div>
    <div class="container-fluid">
        <div class="kedua" data-aos="fade-up" data-aos-duration="1000">
            <img src="../static/img/img-about/sans.jpg" alt="">
        </div>
        <div class="budak">
            <h3 data-aos="fade-left" data-aos-duration="1000">About us</h3>
            <p data-aos="fade-up-right" data-aos-duration="1000"> Cafe Sans Co di Dago, Bandung, adalah destinasi unik
                yang menggabungkan seni,
                kopi berkualitas tinggi, dan kreativitas dalam satu tempat. Suasana artistik dengan mural yang
                memukau menciptakan lingkungan yang ramah dan nyaman bagi pengunjung. Dalam menu kopi,
                pengunjung dapat menikmati berbagai minuman kopi berkualitas dari espresso yang kuat hingga
                kopi susu yang lembut. Tempat ini bukan hanya sekadar kafe; Cafe Sans Co adalah pusat budaya dengan
                serangkaian acara seni dan kegiatan kreatif seperti pameran seni dan pertunjukan musik. Dengan
                suasana
                yang tenang dan musik yang menyenangkan, tempat ini menjadi tempat ideal untuk bersantai sambil
                menikmati kopi dan seni lokal. Cafe Sans Co tidak hanya memanjakan lidah dengan cita rasa kopi yang
                istimewa tetapi juga memberikan pengalaman yang menginspirasi dan memikat bagi pengunjungnya.
                Jika Anda mencari tempat yang menggabungkan keindahan seni, kenikmatan kopi, dan suasana yang
                hangat,
                Cafe Sans Co di Dago adalah destinasi yang sempurna untuk dinikmati.
            </p>
        </div>



    </div>
    <br><br><br><br><br>

    <div class="service pt-5">Our Service</div>
    </div>
    <div class="container-fluid p-5 d-flex justify-content-center align-items-center ">
        <div class="row">
            <div class="col">

                <div class="card mt-3" data-aos="flip-right" data-aos-duration="1000"
                    style=" border: none; background-color: #382D33; border-radius: 220px 220px 15px 15px">
                    <img src="../static/img/img-about/coworking.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="text-center text-white mt-3">Meeting Room</h3>
                        <p class=" text-white m-3" style="text-align:justify;">Room meeting cafe adalah ruang pertemuan
                            di kafe atau
                            restoran yang dirancang untuk
                            pertemuan bisnis dan kolaborasi. Mereka dilengkapi dengan fasilitas seperti meja, kursi,
                            proyektor, dan peralatan audiovisual. Tujuannya adalah memberikan lingkungan santai bagi
                            pertemuan sambil menikmati suasana kafe. Ruangan ini dapat disewa dengan tarif per jam,
                            sering
                            dengan layanan katering. Penting untuk mencari room meeting cafe yang sesuai dengan
                            kebutuhan
                            fasilitas dan lokasi Anda.</p>
                    </div>
                </div>

            </div>
            <div class="col">

                <div class="card mt-3" data-aos="flip-right" data-aos-duration="1000"
                    style=" border: none; background-color: #382D33; border-radius: 220px 220px 15px 15px">
                    <img src="../static/img/img-about/meet.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="text-center text-white mt-3">Coworking Space</h3>

                        <p class="text-white m-3" style="text-align: justify;">Coworking space cafe adalah tempat di
                            mana orang bisa
                            bekerja sambil menikmati
                            suasana kafe. Mereka menyediakan meja kerja, internet cepat, dan makanan minuman kafe.
                            Konsep
                            ini memadukan lingkungan kerja dengan atmosfer santai, cocok bagi pekerja independen dan
                            freelancer.</p>
                        <br><br><br><br>
                    </div>
                </div>

            </div>
            <div class="col">

                <div class="card mt-3" data-aos="flip-right" data-aos-duration="1000"
                    style=" border: none; background-color: #382D33; border-radius: 220px 220px 15px 15px">
                    <img src="../static/img/img-about/cafe.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="text-center text-white mt-3">Cafe Space</h3>
                        <p class=" text-white m-3" style="text-align: justify;">Event space di cafe memberikan tempat
                            yang nyaman dan
                            terorganisir untuk acara-acara
                            khusus seperti pertemuan bisnis, pesta, atau pertunjukan musik. Dengan fasilitas dan
                            pelayanan
                            yang tepat, cafe ini memudahkan pelanggan dalam mengadakan acara dengan lancar. Reservasi,
                            harga, fasilitas, dan aturan yang jelas adalah faktor penting yang perlu diperhatikan dalam
                            menggunakan event space di cafe, menciptakan pengalaman yang menyenangkan bagi peserta
                            acara.
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </div>





    <div class="visit" data-aos="fade-up" data-aos-duration="800">
        <div class="tivit">Visit Us</div>
        <p>Alamat : Jl. Ir. H. Juanda No.347,<br>
            RW.05, Dago, Coblong, Bandung<br>
            City, West Java 40135
        </p>
        <div>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3961.13325136043!2d107.616053574222!3d-6.874633693124113!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e68e7cf90c5ca63%3A0x4c0cdd03d96d2f0b!2sSans%20Co.!5e0!3m2!1sid!2sid!4v1695566837031!5m2!1sid!2sid"
                style="border:0; width:100%; height:400px;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>



    <!-- footer -->
    <footer class="text-white pt-5 pb-4" style="background-color: #382D33;">
        <div class="container text-center text-md-start">
            <div class="row text-center text-md-start">
                <!-- logo footer -->
                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                    <img class="img-fluid" src="../static/img/logo-footer.png" alt="">
                </div>
                <!-- conten -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                    <h5 class="text-uppercase mb-4 font-weight-bold text-white">Content</h5>
                    <p>
                        <a href="/" class="text-white" style="text-decoration: none;"> Home</a>
                    </p>

                    <p>
                        <a href="/about" class="text-white" style="text-decoration: none;"> About Us</a>
                    </p>

                    <p>
                        <a href="/menu" class="text-white" style="text-decoration: none;"> Menu</a>
                    </p>

                    <p> <a href="/gallery" class="text-white" style="text-decoration: none;"> Gallery</a>
                    </p>

                </div>
                <!-- contac -->
                <div class="col-md-3 col-lg-2 col-md-3 mx-auto mt-3">
                    <h5 class="text-uppercase mb-4 font-weight-bold text-white"> Contacts</h5>
                    <p>
                        <a href="#" class="text-white" style="text-decoration: none;"> 022-20458359</a>
                    </p>

                    <p>
                        <a href="#" class="text-white" style="text-decoration: none;"> sanscoworking@gmail.com</a>
                    </p>

                    <p>
                        <a href="https://instagram.com/sans.space?igshid=MmU2YjMzNjRlOQ=="> <i
                                class="bi bi-instagram text-white"></i></a>
                    </p>

                </div>
                <!-- open hour -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h5 class="text-uppercase mb-4 font-weight-bold text-white"> Opening Hours</h5>

                    <p>
                        <a href="#" class="text-white" style="text-decoration: none;"> Everyday 10.00 - 05.00</a>
                    </p>
                </div>
            </div>


            <hr class=" mt-4 mb-4">

            <div class="row text-md-center">
                <div class="col-md-12">
                    <p>Copyrights ⓒ 2023 Sans Co Cafe & CoWorking Space</p>
                </div>
            </div>
        </div>
    </footer>

    <script src="../static/js/scripts.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>

</html>