<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- link boostrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- icon bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../static/admin.css">
    <!-- icon -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <!-- link-font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap" />
    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <title>Admin-event</title>
    <script src="../static/js/login2.js"></script>
    <script>
        function delett() {
            let nama = $('#nama').val();
            let telepon = $('#telepon').val();
            let komunitas = $('#komunitas').val();
            let date = $('#date').val();
            let time = $('#time').val();
            let durasi = $('#durasi').val();
            let jumlah = $('#jumlah').val();
            let piliharea = $('#piliharea').val();
            let pilihmenu= $('#pilihmenu').val();
            let jammenu = $('#jammenu').val();
            let dp = $('#dp').val();
            let id = $('#_id').val();
            $.ajax({
                type: 'GET',
                url: '/delete',
                data: {
                    nama_give: nama,
                    telepon_give: telepon,
                    komunitas_give: komunitas,
                    date_give: date,
                    time_give: time,
                    durasi_give: durasi,
                    jumlah_give: jumlah,
                    piliharea_give:piliharea,
                    pilihmenu_give:pilihmenu,
                    jammenu_give: jammenu,
                    dp_give: dp,
                    id_give: id
                },
                success: function (response) {
                    alert(response.msg)
                    window.location.href = '/admine'
                }
            })

        }
    </script>
</head>

<body>
    <nav>
        <div class="logo-name">
            <div class="logo-image">
                <img src="../static/img/img-admin/Logo 1.png" alt="">
            </div>

            <span class="logo_name">Sans.CO</span>
        </div>

        <div class="menu-items">
            <ul class="nav-links">
                <li><a href="/admin_dashboard">
                        <i class="uil uil-estate"></i>
                        <span class="link-name">Dahsboard</span>
                    </a></li>
                <li><a href="/adminm">
                        <i class="uil uil-files-landscapes"></i>
                        <span class="link-name">Meeting Room</span>
                    </a></li>
                <li><a href="/admine">
                        <i class="uil uil-chart"></i>
                        <span class="link-name">Event</span>
                    </a></li>
            </ul>

            <ul class="logout-mode">
                <li><a href="#" onclick="sign_out()">
                        <i class="uil uil-signout"></i>
                        <span class="link-name">Logout</span>
                    </a></li>

                <li class="mode">


                    <div class="mode-toggle">
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <section class="dashboard">
        <div class="top">
            <i class="uil uil-bars sidebar-toggle"></i>

            <div class="search-box">
                <i class="uil uil-search"></i>
                <input type="text" placeholder="Search here...">
            </div>

            <img src="../static/img/6.png" alt="">
        </div>

        <div class="dash-content">
            <div class="overview">
                <div class="title">
                    <i class="uil uil-tachometer-fast-alt"></i>
                    <span class="text">Event</span>
                </div>

                <div class="boxes">
                    <div class="box box1">
                        <img style="width: 70px;" src="../static/img/img-admin/Logo-removebg-preview 5.png" alt="">

                        <span class="number">Hallo Admin</span>
                        <span class="text">semangat bekerjanya</span>
                    </div>
                </div>
            </div>

            <div class="activity">
                <div class="title">
                    <i class="uil uil-clock-three"></i>
                    <span class="text">Activity Reservation Event</span>
                </div>
            </div>

            <div class="row row-cols-1 row-cols-md-3 g-4">
                <!-- looping --->
                {% for def in data%}

                {% set nama= def.Nama%}
                {% set telepon= def.Telepon%}
                {% set komunitas= def.Komunitas%}
                {% set date= def.Tanggal%}
                {% set time= def.Jam%}
                {% set durasi= def.Durasi%}
                {% set jumlah= def.jumlah_orang%}
                {% set piliharea= def.Area%}
                {% set pilihmenu= def.Menu%}
                {% set jammenu= def.Jam_keluar_menu%}
                {% set dp= def.dp%}

                {% set _id= def._id%}

                <div class="col">

                    <div class="card  align-items-center mx-5 p-4" style="background-color: #382D33; ">
                        <img class="img-fluid" style="width: 150px; border-radius: 50%; position: relative;"
                            src="../static/img/6.png" alt="">

                        <div class="card-body text-white">
                            <!-- <div class="d-flex justify-content gap-2">
                                <span>{{_id}}</span>

                            </div> -->
                            <div class="d-flex justify-content gap-2">
                                <span class="card-title fw-bolder ">Nama :</span>
                                <span>{{nama}}</span>

                            </div>
                            <div class="d-flex justify-content gap-2">
                                <span class="card-title fw-bolder ">No Telepon :</span>
                                <span>{{telepon}}</span>

                            </div>
                            <div class="d-flex justify-content gap-2">
                                <span class="card-title fw-bolder">Komunitas :</span>
                                <span>{{komunitas}}</span>

                            </div>
                            <div class="d-flex justify-content gap-2">
                                <span class="card-title fw-bolder ">Tanggal :</span>
                                <span>{{date}}</span>

                            </div>
                            <div class="d-flex justify-content gap-2">
                                <span class="card-title fw-bolder">Jam :</span>
                                <span>{{time}}</span>

                            </div>
                            <div class="d-flex justify-content gap-2">
                                <span class="card-title fw-bolder">Durasi :</span>
                                <span>{{durasi}}</span>

                            </div>
                            <div class="d-flex justify-content gap-2">
                                <span class="card-title fw-bolder">Jumlah orang :</span>
                                <span>{{jumlah}}</span>

                            </div>
                            <div class="d-flex justify-content gap-2">
                                <span class="card-title fw-bolder">Area :</span>
                                <span>{{piliharea}}</span>

                            </div>
                            <div class="d-flex justify-content gap-2">
                                <span class="card-title fw-bolder">Menu :</span>
                                <span>{{pilihmenu}}</span>

                            </div>
                            <div class="d-flex justify-content gap-2">
                                <span class="card-title fw-bolder">Jam keluar manu :</span>
                                <span>{{jammenu}}</span>

                            </div>
                            <div class="d-flex justify-content gap-2">
                                <span class="card-title fw-bolder">DP :</span>
                                <span>{{dp}}</span>

                            </div>

                            <div class="d-flex justify-content-between gap-5 pt-3">
                                <button type="button" class="btn btn-secondary"> <a
                                        style="font-size:18px; color: white;" href="/edit?id={{_id}}"> <i
                                            class="bi bi-pencil "></i></a></button>

                                <button type="button" class="btn btn-danger"> <a style="font-size:18px; color: white;" onclick="delett()"
                                        href="/delete?id={{_id}}"> <i class="bi bi-trash3"></i></a>
                                </button>
                            </div>

                        </div>

                    </div>
                </div>
                {%endfor%}
                <!-- looping --->
            </div>
        </div>


        </div>
    </section>

    <script src="../static/js/admin.js"></script>
</body>

</html>