<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- link boostrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- icon bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../static/admin.css">
    <!-- icon -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <!-- link-font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap" />
    <!-- Animate style -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <!-- jquery,cookie -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <title>Admin-event</title>
    <link rel="stylesheet" href="../static/admin.css">
    <script src="../static/js/login2.js"></script>

</head>

<body>
    <nav>
        <div class="logo-name">
            <div class="logo-image">
                <img src="../static/img/img-admin/Logo 1.png" alt="">
            </div>

            <span class="logo_name">Sans.CO</span>
        </div>

        <div class="menu-items">
            <ul class="nav-links">
                <li><a href="/admin_dashboard">
                        <i class="uil uil-estate"></i>
                        <span class="link-name">Dahsboard</span>
                    </a></li>
                <li><a href="/adminm">
                        <i class="uil uil-files-landscapes"></i>
                        <span class="link-name">Meeting Room</span>
                    </a></li>
                <li><a href="/admine">
                        <i class="uil uil-chart"></i>
                        <span class="link-name">Event</span>
                    </a></li>

            </ul>

            <ul class="logout-mode">
                <li><a href="#" onclick="sign_out()">
                        <i class="uil uil-signout"></i>
                        <span class="link-name">Logout</span>
                    </a></li>

                <li class="mode">

                    <div class="mode-toggle">
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <section class="dashboard">
        <div class="top">
            <i class="uil uil-bars sidebar-toggle"></i>

            <div class="search-box">
                <i class="uil uil-search"></i>
                <input type="text" placeholder="Search here...">
            </div>

            <img src="../static/img/6.png" alt="">
        </div>

        <div class="dash-content">
            <div class="overview">
                <div class="title">
                    <i class="uil uil-tachometer-fast-alt"></i>
                    <span class="text">Dashboard</span>
                </div>

                <div class="boxes">
                    <div class="box box1">
                        <img style="width: 70px;" src="../static/img/img-admin/Logo-removebg-preview 5.png" alt="">

                        <span class="number">Hallo Admin</span>
                        <span class="text">semangat bekerjanya</span>
                    </div>
                </div>
            </div>

            <!-- <div class="activity">
                <div class="title">
                    <i class="uil uil-clock-three"></i>
                    <span class="text">Recent Activity</span>
                </div>

                <div class="activity-data">
                    <div class="data names">
                        <span class="data-title">Name</span>
                        <span class="data-list">Prem Shahi</span>
                     
                    </div>
                    <div class="data email">
                        <span class="data-title">No telpon</span>
                        <span class="data-list">081234567223</span>
                   
                    </div>
                    <div class="data joined">
                        <span class="data-title">komunitas</span>
                        <span class="data-list">kantor</span>
                   
                    </div>
                    <div class="data type">
                        <span class="data-title">Tanggal</span>
                        <span class="data-list">2022-02-12</span>
                        
                    </div>
                    <div class="data status">
                        <span class="data-title">jam</span>
                        <span class="data-list">08.00</span>
                       
                    </div>
                    <div class="data status">
                        <span class="data-title">durasi</span>
                        <span class="data-list">2jam</span>
                        
                    </div>
                    <div class="data status">
                        <span class="data-title">jumlah orang</span>
                        <span class="data-list">13</span>
                        
                    </div>
                    <div class="data status">
                        <span class="data-title">area</span>
                        <span class="data-list">taman</span>
                      
                    </div>
                    <div class="data status">
                        <span class="data-title">menu</span>
                        <span class="data-list">Paket A</span>
                   
                    </div>
                    <div class="data status">
                        <span class="data-title">jam keluar menu</span>
                        <span class="data-list">10.00</span>
                     
                    </div>
                    <div class="data status">
                        <span class="data-title">dp</span>
                        <span class="data-list">200.000</span>
                        
                    </div>
                   
                </div>
            </div> -->


        </div>
    </section>

    <script src="../static/js/admin.js"></script>
</body>

</html>