<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- icon -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@200;300&family=Poppins:wght@100;200&display=swap"
        rel="stylesheet">
    <!-- cdn-jquery -->
    <script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <link rel="stylesheet" href="../static/login.css">
    <title>Document</title>
    <script>
        function sign_in() {
            let username = $("#input-username").val();
            let password = $("#input-password").val();

            if (username === "") {
                $("#help-id-login").text("Please input your id.");
                $("#input-username").focus();
                return;
            } else {
                $("#help-id-login").text("");
            }

            if (password === "") {
                $("#help-password-login").text("Please input your password.");
                $("#input-password").focus();
                return;
            } else {
                $("#help-password-login").text("");
            }
            $.ajax({
                type: "POST",
                url: "/sign_in",
                data: {
                    username_give: username,
                    password_give: password,
                },
                success: function (response) {
                    if (response["result"] === "success") {
                        $.cookie("mytoken", response["token"], { path: "/" });
                        window.location.replace("/");
                    } else {
                        alert(response["msg"]);
                    }
                },
            });
        }

        function toggle_sign_up() {
            $("#sign-up-box").toggleClass("is-hidden");
            $("#div-sign-in-or-up").toggleClass("is-hidden");
            $("#btn-check-dup").toggleClass("is-hidden");
            $("#help-id").toggleClass("is-hidden");
            $("#help-password").toggleClass("is-hidden");
            $("#help-password2").toggleClass("is-hidden");
        }
        function is_nickname(asValue) {
            var regExp = /^(?=.*[a-zA-Z])[-a-zA-Z0-9_.]{2,10}$/;
            return regExp.test(asValue);
        }

        function is_password(asValue) {
            var regExp = /^(?=.\d)(?=.[a-zA-Z])[0-9a-zA-Z!@#$%^&*]{8,20}$/;
            return regExp.test(asValue);
        }

        function check_dup() {
            let username = $("#input-username").val();
            console.log(username);
            if (username === "") {
                $("#help-id")
                    .text("Enter in your id")
                    .removeClass("is-safe")
                    .addClass("is-danger");
                $("#input-username").focus();
                return;
            }
            if (!is_nickname(username)) {
                $("#help-id")
                    .text(
                        "Please check your id. For your id, please enter 2-10 English characters, numbers, or the following special characters (._-)"
                    )
                    .removeClass("is-safe")
                    .addClass("is-danger");
                $("#input-username").focus();
                return;
            }
            $("#help-id").addClass("is-loading");
            $.ajax({
                type: "POST",
                url: "/sign_up/check_dup",
                data: {
                    username_give: username,
                },
                success: function (response) {
                    if (response["exists"]) {
                        $("#help-id")
                            .text("This id is already in use.")
                            .removeClass("is-safe")
                            .addClass("is-danger");
                        $("#input-username").focus();
                    } else {
                        $("#help-id")
                            .text("This id is available!")
                            .removeClass("is-danger")
                            .addClass("is-success");
                    }
                    $("#help-id").removeClass("is-loading");
                },
            });
        }
        function sign_up() {
            let username = $("#input-username").val();
            let password = $("#input-password").val();
            let password2 = $("#input-password2").val();
            console.log(username, password, password2);
            console.log($("#help-id").attr("class"));

            if ($("#help-id").hasClass("is-danger")) {
                alert("Please check your id");
                return;
            } else if (!$("#help-id").hasClass("is-success")) {
                alert("Please double check your id");
                return;
            }

            if (password === "") {
                $("#help-password")
                    .text("Please enter your password")
                    .removeClass("is-safe")
                    .addClass("is-danger");
                $("#input-password").focus();
                return;
            } else if (!is_password(password)) {
                $("#help-password")
                    .text(
                        "Please check your password. For your password, please enter 8-20 English characters, numbers, or the following special characters (!@#$%^&*)"
                    )
                    .removeClass("is-safe")
                    .addClass("is-danger");
                $("#input-password").focus();
                return;
            } else {
                $("#help-password")
                    .text("This password can be used!")
                    .removeClass("is-danger")
                    .addClass("is-success");
            }
            if (password2 === "") {
                $("#help-password2")
                    .text("Please enter your password")
                    .removeClass("is-safe")
                    .addClass("is-danger");
                $("#input-password2").focus();
                return;
            } else if (password2 !== password) {
                $("#help-password2")
                    .text("Your passwords do not match")
                    .removeClass("is-safe")
                    .addClass("is-danger");
                $("#input-password2").focus();
                return;
            } else {
                $("#help-password2")
                    .text("Your passwords match!!!")
                    .removeClass("is-danger")
                    .addClass("is-success");
            }
            $.ajax({
                type: "POST",
                url: "/sign_up/save",
                data: {
                    username_give: username,
                    password_give: password,
                },
                success: function (response) {
                    alert("Your are signed up! Nice!");
                    window.location.replace("/login");
                },
            });
        }
    </script>
</head>

<body>
    <section class="container forms">
        <div class="form login">
            <div class="form-content">
                <header>Login</header>
                <form action="#">
                    <div class="field input-field">
                        <input type="email" placeholder="Email" class="input" id="input-username">
                    </div>

                    <div class="field input-field">
                        <input type="password" placeholder="Password" class="password" id="input-password">
                        <i class='bx bx-hide eye-icon'></i>
                    </div>

                    <div class="form-link">
                        <a href="#" class="forgot-pass">Forgot password?</a>
                    </div>

                    <div class="field button-field">
                        <button onclick="sign_in()">Login</button>
                    </div>
                </form>

                <!-- <div class="form-link">
                    <span>Don't have an account? <a href="#" class="link signup-link"
                            onclick="toggle_sign_up()">Signup</a></span>
                </div> -->
            </div>

            <!-- <div class="line"></div>


            <div class="media-option">
                <a href="" class="field google"><i class='bx bxl-google google-icon '></i>Log in with Google</a>
            </div> -->

        </div>

        <!-- Signup Form -->
        <!-- <div class="form signup">
            <div class="form-content">
                <header>Signup</header>
                <form action="#">
                    <div class="field input-field">
                        <input type="email" placeholder="Email" class="input" id="input-username">
                    </div>

                    <div class="field input-field">
                        <input type="password" placeholder="Create password" class="password" id="input-password2">
                    </div>

                    <div class="field input-field">
                        <input type="password" placeholder="Confirm password" class="password" id="help-password2">
                        <i class='bx bx-hide eye-icon'></i>
                    </div>

                    <div class="field button-field" onclick="sign_up()">
                        <button>Signup</button>
                    </div>
                </form>

                <div class="form-link">
                    <span>Already have an account? <a href="/login" class="link login-link">Login</a></span>
                </div>
            </div>

            <div class="line"></div>

            <div class="media-option">
                <a href="" class="field google"><i class='bx bxl-google google-icon '></i>Log in with Google</a>
            </div>
        </div> -->
    </section>
    <script src="../static/js/login.js"></script>
</body>

</html>